<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/myadmin/dashboard">
          <i class="typcn typcn-device-desktop menu-icon"></i>
          <span class="menu-title">Dashboard</span>
          <div class="badge badge-danger">new</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#state" aria-expanded="false" aria-controls="ui-basic">
          <i class="typcn typcn-document-text menu-icon"></i>
          <span class="menu-title">State</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="state">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/myadmin/add_state">Add State</a></li>
            <li class="nav-item"> <a class="nav-link" href="/myadmin/all_state">All State</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#city" aria-expanded="false" aria-controls="form-elements">
          <i class="typcn typcn-film menu-icon"></i>
          <span class="menu-title">City</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="city">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/myadmin/add_city">Add City</a></li>
            <li class="nav-item"><a class="nav-link" href="/myadmin/all_city">All City</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#area" aria-expanded="false" aria-controls="area">
          <i class="typcn typcn-chart-pie-outline menu-icon"></i>
          <span class="menu-title">Area</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="area">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/myadmin/add_area">Add Area</a></li>
            <li class="nav-item"><a class="nav-link" href="/myadmin/all_area">All Area</a></li>
          </ul>
        </div>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#subcategory" aria-expanded="false" aria-controls="subcategory">
          <i class="typcn typcn-compass menu-icon"></i>
          <span class="menu-title">Sub Category</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="subcategory">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/myadmin/add_subcategory">Add Sub Category</a></li>
            <li class="nav-item"> <a class="nav-link" href="/myadmin/all_subcategory"> All Sub Category</a></li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/myadmin/user">
          <i class="typcn typcn-mortar-board menu-icon"></i>
          <span class="menu-title">User</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#notice" aria-expanded="false" aria-controls="notice">
          <i class="typcn typcn-th-small-outline menu-icon"></i>
          <span class="menu-title">Notice</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="notice">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/myadmin/add_notice">Add Notice</a></li>
            <li class="nav-item"> <a class="nav-link" href="/myadmin/all_notice">All Notice</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myadmin/all_contact">
          <i class="typcn typcn-mortar-board menu-icon"></i>
          <span class="menu-title">Inquery</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myadmin/logout">
          <i class="typcn typcn-mortar-board menu-icon"></i>
          <span class="menu-title">LogOut</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/myadmin/contact">
          <i class="typcn typcn-mortar-board menu-icon"></i>
          <span class="menu-title">Contact</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myadmin/feedback">
          <i class="typcn typcn-mortar-board menu-icon"></i>
          <span class="menu-title">Feddback</span>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#u" aria-expanded="false" aria-controls="u">
          <i class="typcn typcn-user-add-outline menu-icon"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
            
          </ul>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
          <i class="typcn typcn-globe-outline menu-icon"></i>
          <span class="menu-title">Error pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="error">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://bootstrapdash.com/demo/polluxui-free/docs/documentation.html">
          <i class="typcn typcn-mortar-board menu-icon"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li> -->
    </ul>
  </nav>